Repository yurufuwayuya/visual-prompt-builder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: TypeScriptビルドエラーを修正
  frontend/src/components/steps/ResultStep.custom.test.tsx
  frontend/src/components/steps/ResultStep.test.tsx
  frontend/src/components/steps/__tests__/ResultStep.customTranslation.test.tsx
Due: eslint --fix, prettier --write

fix: 翻訳APIの500エラーを修正
  workers/src/routes/translation.ts
Due: eslint --fix, prettier --write

docs: 実装ログと感情ログを更新
  docs/development/emotion-log.md
  docs/development/implementation-log.md
Due: prettier --write

fix: KVストレージが未設定の場合でも翻訳APIが動作するように修正
  workers/src/routes/translation.ts
Due: eslint --fix, prettier --write

fix(api): Update @hono/zod-validator to fix translation API error
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  package-lock.json
  workers/package.json
Due: prettier --write

fix(workers): KV Namespaceアクセス時のOptional chaining追加
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  workers/src/routes/health.ts
  workers/src/routes/prompt.ts
  workers/src/routes/translation.ts
Due: eslint --fix, prettier --write

fix: 翻訳API 500エラーを解決 - /translate から /trans へパス変更
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  frontend/src/config/api.ts
  workers/src/index.ts
  workers/src/routes/translation.ts
Due: eslint --fix, prettier --write

Create main.yml
  .github/workflows/main.yml
Due: prettier --write

fix: フロントエンドAPI URLの修正
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  frontend/src/config/api.ts
Due: eslint --fix, prettier --write

fix: コードレビューに基づく重要な修正
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  frontend/src/components/steps/ResultStep.tsx
  frontend/src/hooks/useStepState.ts
  frontend/src/stores/promptStore.ts
  shared/src/utils/index.ts
  shared/src/utils/typeConverters.ts
  workers/src/index.ts
Due: eslint --fix, prettier --write

feat: 画像生成(i2i)機能のAPI実装
  CLAUDE.md
  docs/development/emotion-log-archive-20250111.md
  docs/development/emotion-log.md
  docs/development/implementation-log-archive-20250111.md
  docs/development/implementation-log.md
  workers/src/__tests__/routes/image.test.ts
  workers/src/__tests__/utils/imageProcessing.test.ts
  workers/src/index.ts
  workers/src/routes/image.ts
  workers/src/services/imageProviders/replicate.ts
  workers/src/types.ts
  workers/src/utils/imageProcessing.ts
  workers/wrangler.toml
Due: eslint --fix, prettier --write

feat(i2i): 画像生成（Image-to-Image）機能のフロントエンド実装
  docs/development/implementation-log.md
  frontend/src/components/ImageGenerationI2ISection.tsx
  frontend/src/components/steps/ImageStep.tsx
  frontend/src/components/steps/ResultStep.tsx
  frontend/src/components/steps/index.ts
  frontend/src/config/api.ts
  frontend/src/pages/PromptBuilder.tsx
  frontend/src/services/imageGeneration.ts
  frontend/src/stores/promptStore.ts
  workers/src/__tests__/routes/image.test.ts
  workers/src/routes/prompt.ts
  workers/src/routes/translation.ts
  workers/src/services/imageProviders/replicate.ts
  workers/src/utils/imageProcessing.ts
Due: eslint --fix, prettier --write

fix: CodeRabbit review fixes - type safety, accessibility, and UI improvements
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  frontend/src/components/ImageGenerationI2ISection.tsx
  frontend/src/components/steps/ImageStep.tsx
  frontend/src/components/steps/__tests__/ImageStep.test.tsx
  frontend/src/services/imageGeneration.ts
  workers/src/routes/translation.ts
Due: eslint --fix, prettier --write

fix: Replicate API integration - update model configurations and error handling
  .env.example
  .gitignore
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  docs/image-generation-setup.md
  frontend/src/App.tsx
  frontend/src/components/__tests__/ImageGenerationI2ISection.test.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/ImageToImage.tsx
  frontend/src/services/__tests__/imageGeneration.test.ts
  frontend/tsconfig.json
  scripts/dev-env-setup.sh
  scripts/setup-dev-secrets.sh
  scripts/test-image-generation.sh
  start-dev-servers.sh
  tests/e2e/image-generation.e2e.test.ts
  tests/fixtures/test-image-512.png
  tests/fixtures/test-image.png
  workers/src/__tests__/routes/image.edge-cases.test.ts
  workers/src/dev-env.js
  workers/src/index.ts
  workers/src/services/imageProviders/replicate.ts
  wrangler.toml
Due: eslint --fix, prettier --write

feat: implement Cloudflare R2 storage for Replicate API image uploads
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  docs/image-generation-setup.md
  workers/src/__tests__/services/r2Storage.test.ts
  workers/src/routes/image.ts
  workers/src/scheduled.ts
  workers/src/services/imageProviders/replicate.ts
  workers/src/services/r2Storage.ts
  workers/src/types.ts
  wrangler.toml
Due: eslint --fix, prettier --write

docs: Update implementation and emotion logs for R2 configuration
  docs/development/emotion-log.md
  docs/development/implementation-log.md
Due: prettier --write

chore: Update .gitignore to exclude .dev.vars files
  .gitignore
Due: none

feat: 本番環境をkantanprompt.comドメインに移行
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  frontend/.env.production
  frontend/src/services/imageGeneration.ts
  package.json
  workers/docs/R2_CONFIGURATION.md
  workers/docs/R2_CORS_CONFIG.json
  workers/package.json
  workers/scripts/apply-cors-aws-cli.sh
  workers/scripts/apply-cors.sh
  workers/src/index.ts
  workers/src/services/imageProviders/replicate.ts
  workers/src/services/r2Storage.ts
  workers/test-cors.sh
  workers/test-r2-config.sh
  workers/wrangler.toml
Due: eslint --fix, prettier --write

docs: update development logs
  docs/development/emotion-log.md
  docs/development/implementation-log.md
Due: prettier --write

fix: ImageGenerationI2ISection test failures
  frontend/src/components/__tests__/ImageGenerationI2ISection.test.tsx
Due: eslint --fix, prettier --write

fix: resolve all remaining test failures
  frontend/src/components/steps/ResultStep.custom.test.tsx
  frontend/src/components/steps/ResultStep.test.tsx
  frontend/src/services/__tests__/imageGeneration.test.ts
Due: eslint --fix, prettier --write

fix: translation test expectations to use mock responses
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  frontend/src/components/steps/__tests__/ResultStep.customTranslation.test.tsx
  frontend/src/services/commercialImageGeneration.test.ts
  workers/src/__tests__/routes/image.edge-cases.test.ts
  workers/src/routes/translation.ts
  workers/tests/routes/translation.test.ts
Due: eslint --fix, prettier --write

fix: update translation endpoint to /trans in remaining tests
  frontend/src/components/steps/__tests__/ResultStep.customTranslation.test.tsx
Due: eslint --fix, prettier --write

test: skip failing tests temporarily to allow deployment
  frontend/src/components/steps/ResultStep.custom.test.tsx
  frontend/src/components/steps/__tests__/ImageStep.test.tsx
  frontend/src/components/steps/__tests__/ResultStep.customTranslation.test.tsx
Due: eslint --fix, prettier --write

test: skip additional failing tests for deployment
  frontend/src/components/steps/ResultStep.test.tsx
  workers/src/__tests__/routes/image.test.ts
  workers/tests/routes/translation.test.ts
Due: eslint --fix, prettier --write

ci: temporarily disable tests in deploy workflow
  .github/workflows/deploy.yml
Due: prettier --write

fix: add production KV namespace configurations
  workers/wrangler.toml
Due: none

fix: use dev KV namespace ID for IMAGE_CACHE temporarily
  workers/wrangler.toml
Due: none

fix: deploy workers from correct directory
  .github/workflows/deploy.yml
  wrangler.toml
Due: prettier --write

fix: correct custom domain configuration for production
  workers/wrangler.toml
Due: none

fix: use existing R2 bucket name for production
  workers/wrangler.toml
Due: none

feat: R2 S3 APIを使用した画像アップロード機能の実装
  .env.production
  README.md
  docs/R2_SETUP_GUIDE.md
  docs/SECURITY_ALERT.md
  docs/api-specification.md
  docs/development/emotion-log.md
  docs/development/implementation-log-20250122.md
  docs/development/implementation-log.md
  frontend/src/services/imageGeneration.ts
  package-lock.json
  workers/docs/R2_CONFIGURATION.md
  workers/package.json
  workers/src/routes/image.ts
  workers/src/services/imageProviders/replicate.ts
  workers/src/services/r2S3Upload.ts
  workers/src/types.ts
  workers/test-r2-upload.js
  workers/wrangler.toml
Due: eslint --fix, prettier --write

fix: R2 S3互換APIアップロード機能の修正とセキュリティ強化
  .env.production.example
  .github/workflows/deploy.yml
  .gitignore
  README.md
  docs/api-specification.md
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  shared/src/test/setup.ts
  shared/src/test/testData.ts
  workers/src/__tests__/routes/image.edge-cases.test.ts
  workers/src/__tests__/routes/image.test.ts
  workers/src/index.ts
  workers/src/scheduled.ts
  workers/src/services/imageProviders/replicate.ts
  workers/src/services/r2S3Upload.ts
  workers/src/services/r2Storage.ts
  workers/src/types.ts
  workers/test-r2-upload.js
  workers/wrangler.toml
Due: eslint --fix, prettier --write

fix: CORS設定を修正し、kantanprompt.comからのアクセスを確実に許可
  workers/src/index.ts
  workers/wrangler.toml
Due: eslint --fix, prettier --write

fix: フロントエンドのAPIエンドポイントを正しいWorker URLに修正
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  frontend/src/config/api.ts
Due: eslint --fix, prettier --write

fix: テストエラーを無視して強制デプロイ実行
  .gitignore
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  frontend/.env.example
  frontend/src/config/api.ts
  frontend/src/test/integration/workflow.test.tsx.bak
  shared/package.json
  workers/.dev.vars.example
Due: eslint --fix, prettier --write

fix: package-lock.jsonを更新してGitHub Actionsのデプロイエラーを修正
  package-lock.json
Due: prettier --write

fix: デプロイエラーを修正
  docs/development/emotion-log.md
  docs/development/implementation-log.md
  docs/development/test-file-convention.md
  frontend/src/components/__tests__/ImageGenerationSection.test.tsx
  frontend/src/components/steps/ResultStep.custom.test.tsx
  frontend/src/components/steps/ResultStep.test.tsx
  frontend/src/components/steps/__tests__/CategoryStep.category-change.test.tsx
  frontend/src/components/steps/__tests__/CategoryStep.test.tsx
  frontend/src/components/steps/__tests__/ResultStep.test.tsx
  frontend/src/components/steps/__tests__/StyleStep.test.tsx
  frontend/src/services/__tests__/commercialImageGeneration.test.ts
  workers/.env.example
  workers/README.md
  workers/scripts/setup-secrets.sh
  workers/src/__tests__/routes/image.test.ts
  workers/src/__tests__/routes/translation.test.ts
  workers/src/__tests__/setup.ts
  workers/vitest.config.ts
Due: eslint --fix, prettier --write

fix: translation.test.tsのインポートパスを修正
  workers/src/__tests__/routes/translation.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
